.overviewColumn {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
            line-clamp: 2; 
    -webkit-box-orient: vertical;
     font-size: 12px;
}

.mainBox {
    /* width: 250px; */
    height: auto;
}

.link:hover {
    font-weight: 400;
    color: rgb(102, 102, 227);
    cursor: pointer;
}

.markedRow {
    background-color: lightgreen;
    padding: 10px;
    border: 5px solid rgb(86, 245, 86);
    border-radius: 15px;
}

.poster {
    border-radius: 15px;
}

Td > span {
    display: none;
}

.titleColumn {
    text-wrap: wrap;
    max-width: 200px;
}

@media only screen and (max-width: 1280px) {
    .posterColumn {
      display: none;
    }

    .overviewColumn {
        min-width: 45vw;
    }

    .titleColumn {
        text-wrap: wrap;
        max-width: 200px;
    }

    .releaseDateColumn {
        max-width: 110px;
    }

    .voteAverageColumn {
        max-width: 110px;
    }

    @media only screen and (max-width: 600px) {
        .link {
            display: block;
        }

        Td {
            display: block;
        }

        Td > span {
            display: inline;
            font-weight: 500;
        }

        .markColumn {
            display: none;
        }
    }
  }