.poster {
    max-width: 400px;
}

.detailTable {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 10px 10px 10px;
}

.detailTable_all {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.detailTable_info {
    margin: 7px;
}

.detailTable_info > span {
    font-weight: 700;
}

.detailsButton {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.notVisible {
    display: none;
}