@media only screen and (max-width: 1280px) {
    .posterColumn {
      display: none;
    }

    .releaseDateColumn {
        max-width: 110px;
    }

    .voteAverageColumn {
        max-width: 110px;
    }

    @media only screen and (max-width: 600px) {
        Th {
            display: none;
        }

        Tr {
            margin: 30px;
        }

        Td {
            min-width: 100%;
            border-width: thin;
            text-align: center;
        }
    }

  }